name: Check Pull Request

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - ready_for_review

env:
  HUSKY: 0

jobs:
  pr-validator:
    name: Run Pull Request Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Check linting and formatting
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci
      - run: npm run format:check
      - run: npm run lint
