name: Publish

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  pull-requests: write
  packages: read

env:
  AWS_REGION: eu-west-2
  AWS_ACCOUNT_ID: '094954420758'
  HUSKY: 0

jobs:
  build:
    if: github.run_number != 1
    name: Build, version and publish
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Update NuGet.config
        run: |
          dotnet nuget remove source defra
          dotnet nuget add source --username USERNAME --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name defra "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" --configfile NuGet.config
        working-directory: ./tools/fixture-generator

      - name: Build the test suite
        uses: DEFRA/cdp-build-action/build-test@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
